{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include('_components/_nav.html.twig') %}

<div class="w-1/2 mx-auto">
    <div class="flex justify-center items-center text-indigo-600">
        <a href="{{ path('purchase_new') }}" title="Add a crypto">
            <div class="flex bg-white rounded-lg py-3 px-6 shadow transition duration-500 ease-in-out transform hover:bg-indigo-50 hover:-translate-y-1 hover:scale-110">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                <span class="ml-2">{{ 'addCrypto'|trans }}</span>
            </div>
        </a>
    </div>
    <div class="text-center mt-12 mb-6">
        <span class="text-6xl font-semibold">TODO</span>
        <p class="font-light mt-2">{{ 'totalBalance'|trans }}</p>
    </div>
    {% include('home/_components/_chronologic_history.html.twig') %}
    {% include('home/_components/_list_cryptos.html.twig') %}
</div>

{% endblock %}
