{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}

    {% include('_components/_nav.html.twig') %}

    <div class="w-1/2 mx-auto">
        <div>
            Hello !
        </div>
    </div>

{% endblock %}
